/* Color Scheme */
/*

Red: #fb051c
Yellow: 
White: #fff
Black: #333

*/
body {
    background: #333;
}

.navbar {
    background: #fb051c;
    box-shadow: 0 0 4px #E3E3E3;
    padding: 0rem 2rem;
}

.navbar > a:hover {
    color: 	#E3E3E3;
}

.navbar-brand {
    color: #fff;
    font-family: 'Kirang Haerang', cursive;
    font-size: 2rem;
    letter-spacing: 8px;
    font-weight: 700;
}

.navbar-toggler {
    border: 2px solid #fff;
    padding: .5rem .5rem;
}

.fa-bars {
    color: #fff;
}

.search-btn {
    color: #333;
    border: 1px solid #ced4da;
}

.search-btn:hover {
    background: #E3E3E3;
}

.mr-sm-2 {
    margin-right: 2.5rem !important;
}

.page-shadow {
    box-shadow: 0 0 4px #e3e3e3;
}

#map {
    width: 100%;
    height: 700px;
}

.list-rows {
    max-height: 700px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    background: #fff;
}

.trucks {
    margin: 40px 0;
}

.no-padding {
    padding: 0;
}